* {
	margin: 0;
	padding: 0;
}

 a {
 	text-decoration: none;
}

li {
	list-style: none;
}

header {
	width: 100%;
	background-color: #000; 

	display: flex; 

}

.header_logo{
	text-transform: uppercase;
    color: #FFF;
    font-weight: 800;
    font-size: 24px;
    margin-top:56px;
    margin-left: 12%;

}

nav {
	margin-top: 56px;
	margin-left: 29%;
}

.topnav a {   /* стиль ссылок */
	color: #FFF;
	text-align: center;
	padding: 5px 16px;
	font-size: 14px;
	font-weight: bold;	
}

.topnav a:hover { /* при нажатии на пункт, меню будет подсвечиваться */
border-bottom: 3px solid #FCAC45;
transition: 0.5s all;
}
.topnav .icon{
	display: none;
}



@media screen and (max-width: 1200px) {
	nav{
		margin-left: 20%;
	}
}
@media screen and (max-width: 1105px) {

nav{
	margin-left: 10%;
}

}





@media screen and (max-width: 1010px) {
.topnav a{
	display: none;
}
.topnav a.icon{
	float: right;
	margin-top: -17px;
	display: block;
	color: #FFF;
	font-size: 25px;
}
nav{
	width: 100%;
}
.topnav.responsive{
	position: relative;
	top: 50px;
	left: -200px;
}
header .topnav.responsive{
	height: 340px;
}
.topnav.responsive a.icon{
	position: absolute;
	top: -50px;
	right: -200px;
}
.topnav.responsive a{
	float: none;
	display: block;
	text-align: left;
}


main .main_welcome{
	padding: 50px 0 50px 0;

}
main .main_welcome p{
	font-size: 14px;

}
main .main_welcome h1 {
font-size: 25px;
	}
	.wh { 
		max-width: 100%;
	}

	.main_about{
		flex-direction: column;
	}
	.about_right{
		text-align: center;
		margin-left: 0;
	}
	.about_right li{
     text-align: left;
	}
}




}
main{
	display: flex;
	flex-direction: column;
	width: 100%;
}
main .main_welcome{
	background: #000;
	text-align: center;
	padding: 200px 0 410px 0;

     
}
main .main_welcome p{
	color: #999999;
	font-size: 20px;

}
main .main_welcome h1 {
	color: #999999;
	font-size: 44px;
}


.mycompany{
	color: #FCAC45;
}
.wrapper{
	width: 76%;
	margin: 0 auto;
}
main .main_about{
	padding: 100px 0 100px 0;
}
.about_right {
	margin-left: 600px;
	margin-top: -300px;
}
.about_right h1 {
	display: inline-block;
	border-bottom: 3px solid #FCAC45;
	padding-bottom: 20px;
}
.about_right p{
	margin: 30px 0 50px 0;
	color: #6c6c6c;
}
.about_right li{
	margin-left: 10px;
	padding-left: 10px;
}
.ph{
margin-right: 10px;
}



.main_team{

	background: #000;
	text-align: center;
	padding: 100px 0 165px 0;
	color: #fff;
	height: 55vh;


}
.main_team h1{
	font-size: 44px;
	padding-bottom: 30px;
}
.line {
	width: 100px;
	height: 3px;
	background: #fcac45;
	position: relative;
	left: 45.5%;
	margin-bottom: 85px;
}
.photo{
	background: #d7d7d7;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin: 20px auto;
}
.team_cards{

	display: flex;
}
.card {
	padding-left: 25%;
	
}
.name{
	margin-bottom: 7px;
}

.konec{

	text-align: center;
	height: 15vh;
	background: #101010;
	
	color: #EEEEEE;
}

.ceti {
	 margin-left: 100px;
	 margin-top: -100px;
}
.ceti strong {
	color: #EEEEEE;
}




































		